* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    background-color: #fc6885;
    overflow: hidden;
}

.paperHeart {
    position: absolute;
    height: 100px;
    top: 80%;
    opacity: 0;
    filter: drop-shadow(0 0 20px white);
    animation: hiddenHeart 3.1s linear forwards, flyHeart 4s ease-in-out calc(var(--time) + 3.1s) infinite;
}

.paperHeart1 {
    left: 50px;
}

.paperHeart2 {
    left: 250px;
}

.paperHeart3 {
    left: 500px;
}

.paperHeart4 {
    left: 800px;
}

.paperHeart5 {
    left: 1100px;
}

.paperHeart6 {
    left: 1400px;
}

.boxCloud {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background-color: transparent;
}

.container .cloud {
    position: absolute;
    top: 120%;
    left: -50px;
}

.container .cloud1 {
    position: absolute;
    top: 120%;
    left: -50px;
}

.container .cloud2 {
    position: absolute;
    top: 120%;
    left: -50px;
}

.container.active.close {
    .btnBox {
        animation: disappearBtn 1s ease-in-out forwards;
    }

    .boxTitle {
        animation: disappearBoxTitle 1s ease-in-out forwards;
    }
}

@keyframes disappearBtn {
    from {
        top: 50%;
    }

    to {
        top: 150%;
    }
}

@keyframes disappearBoxTitle {
    from {
        top: 10%;
    }

    to {
        top: -50%;
    }
}

.container.active .cloud {
    position: absolute;
    top: 0;
    left: -50px;
    height: 200px;
    width: 200px;
    background-color: #ffb3c1;
    border-radius: 50%;
    box-shadow: 120px -20px #ffb3c1, 240px -40px #ffb3c1, 360px -20px #ffb3c1,
        480px 0px #ffb3c1, 600px -10px #ffb3c1, 720px 10px #ffb3c1, 840px 20px #ffb3c1,
        960px 0px #ffb3c1, 1080px 40px #ffb3c1, 1200px 20px #ffb3c1, 1320px 0px #ffb3c1,
        1440px -20px #ffb3c1;
    transition: .8s;
    transition-delay: 2.2s;
    animation: animateCloud 3s ease-in-out 1s infinite;
}

@keyframes animateCloud {
    0% {
        top: 0;
    }

    25% {
        top: 10px;
    }

    50% {
        top: -10px;
    }

    75% {
        top: 10px;
    }

    100% {
        top: 0;
    }

}

@keyframes animateCloud1 {
    0% {
        top: 75;
    }

    25% {
        top: 85;
    }

    50% {
        top: 65;
    }

    75% {
        top: 85;
    }

    100% {
        top: 75;
    }

}

@keyframes animateCloud2 {
    0% {
        top: 150;
    }

    25% {
        top: 160px;
    }

    50% {
        top: 140px;
    }

    75% {
        top: 160px;
    }

    100% {
        top: 150;
    }

}

.container.active .cloud1 {
    position: absolute;
    top: 75px;
    left: -50px;
    content: "";
    height: 200px;
    width: 200px;
    background-color: #ffccd5;
    border-radius: 50%;
    box-shadow: 120px -20px #ffccd5, 240px -40px #ffccd5, 360px -20px #ffccd5,
        480px 0px #ffccd5, 600px -10px #ffccd5, 720px 10px #ffccd5, 840px 20px #ffccd5,
        960px 0px #ffccd5, 1080px 40px #ffccd5, 1200px 20px #ffccd5, 1320px 0px #ffccd5,
        1440px -20px #ffccd5, 1560px 0px #ffccd5;
    transition: .8s;
    transition-delay: 1.3s;
    animation: animateClou1 3s ease-in-out 1.5s infinite;
}

.container.active .cloud2 {
    position: absolute;
    top: 150px;
    left: -50px;
    content: "";
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 120px -20px white, 240px -20px white, 360px -20px white,
        480px 0px white, 600px -10px white, 720px 10px white, 840px 20px white,
        960px 0px white, 1080px 40px white, 1200px 20px white, 1320px 0px white,
        1440px -20px white, 1560px 0px white;
    transition: .8s;
    transition-delay: .5s;
    animation: animateCloud2 3s ease-in-out 2s infinite;
}

.boxTitle {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Rubik Glitch Pop", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
    color: pink;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-shadow: 0 0 20px white;
    animation: appearTitle 2s linear 3.1s forwards, floatingWords 4s ease-in-out infinite;

}

.container .btnBox {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    width: 400px;
    opacity: 1;
}

.container.active .btnBox {
    opacity: 1;
    transition: 1s;
    transition-delay: 5s;
    animation: appearBtnBox 2s ease-in-out 5s forwards, animateOpenBtn 2s ease-in-out 5s infinite;
}

@keyframes appearBtnBox {
    from {
        top: 150%;
    }

    to {
        top: 50%;
    }
}

.cloudBtn {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: #fc6885;
    border-radius: 50%;
    box-shadow: 60px 0 #fc6885, 120px 0 #fc6885, 180px 0 #fc6885, 240px 0 #fc6885,
        300px 0 #fc6885, 300px 60px #fc6885, 240px 60px #fc6885, 180px 60px #fc6885,
        120px 60px #fc6885, 60px 60px #fc6885, 0 60px #fc6885;
}

.cloudBtn::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 60px 0 white, 120px 0 white, 180px 0 white, 240px 0 white,
        300px 0 white, 300px 60px white, 240px 60px white, 180px 60px white,
        120px 60px white, 60px 60px white, 0 60px white;
}

.openBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    font-family: "Rubik Glitch Pop", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #fc6885;
    background-color: transparent;
    border: none;
    text-shadow: 0 0 10px pink;
}

.openBtn:hover {
    cursor: grab;
}

/* OPEN */
.container.active.open {
    .boxTitle {
        animation: none;
        top: -40%;
    }

    .btnBox {
        animation: none;
        top: 140%;
    }

}

.cardValentine {
    position: absolute;
    top: 200%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 800px;
    background-color: transparent;
    transition: .5;
}

.cardValentine.active {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 800px;
    background-color: transparent;
    transition: .5;
    animation: animateCard 2s ease-in-out forwards;
}

@keyframes animateCard {
    from {
        top: 200%;
    }

    to {
        top: 50%;
    }
}

.cardValentine .left {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    border-radius: 10px;
    transition: .5s;
    padding: 20px;
}

.cardValentine .left .leftFront {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f35553;
    border-radius: inherit;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px lightgray;
    border-left: 10px solid #c9413f;
}

.boxShadow {
    filter: drop-shadow(0 0 10px white);
    height: fit-content;
    width: fit-content;
}

.boxTitleCard {
    position: relative;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    background-color: white;
    clip-path: polygon(10% 0, 35% 0, 50% 23%, 65% 0, 90% 0, 100% 30%, 50% 100%, 0 30%);
}

.boxTitleCard::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 280px;
    width: 280px;
    background-color: #f35553;
    clip-path: polygon(10% 0, 35% 0, 50% 23%, 65% 0, 90% 0, 100% 30%, 50% 100%, 0 30%);
}

.boxTitleCard::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 250px;
    background-color: white;
    clip-path: polygon(10% 0, 35% 0, 50% 23%, 65% 0, 90% 0, 100% 30%, 50% 100%, 0 30%);
}


.titleCard {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #f35553;
    margin-top: 80px;
}

.cardValentine .left .leftBack {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #f35553;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    border-right: 10px solid #c9413f;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.artHeart {
    width: 90%;
    height: auto;
    filter: drop-shadow(0 0 5px white);
}

.des {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    width: 100%;
    text-align: center;
}

.cardValentine .right {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    background-color: #f35553;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 10px solid #c9413f;
    transition: .5s;
}

.rightContent {
    font-size: 20px;
    height: 95%;
    width: 90%;
    background-color: wheat;
    border-radius: 5px;
    padding: 20px 15px;
    padding-bottom: 130px;
    overflow: auto;
    position: relative;
}

.rightContent::-webkit-scrollbar {
    background-color: white;
    width: 6px;
}

.rightContent::-webkit-scrollbar-thumb {
    background-color: #d34745;
}

.letterContent {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.baoboiImage {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.baoboiImage.hidden {
    opacity: 0;
    pointer-events: none;
}

.cardValentine.active.open {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;

    .left {
        transform-style: preserve-3d;
        transform: rotateY(-180deg);
        transform-origin: left;
        background-color: red;
        transition: .5s;
    }

    .leftFront {
        backface-visibility: hidden;
    }

}

@keyframes appearTitle {
    to {
        top: 10%;
    }
}

@keyframes floatingWords {
    0% {
        transform: translateX(-50%);
    }

    25% {
        transform: translateX(-50%) translateY(-50px);
    }

    50% {
        transform: translateX(-50%) translateY(50px);
    }

    75% {
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes flyHeart {
    to {
        top: -20%;
    }
}

@keyframes hiddenHeart {
    0% {
        opacity: 0;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animateOpenBtn {
    25% {
        top: 50%;
    }

    50% {
        top: calc(50% + 2px);
    }

    75% {
        top: calc(50% - 2px);
    }

    100% {
        top: 50%;
    }
}

/* RESPONSIVE FOR MOBILE */
@media screen and (max-width: 768px) {
    .paperHeart {
        height: 50px;
    }

    .paperHeart1 {
        left: 5%;
    }

    .paperHeart2 {
        left: 20%;
    }

    .paperHeart3 {
        left: 40%;
    }

    .paperHeart4 {
        left: 60%;
    }

    .paperHeart5 {
        left: 75%;
    }

    .paperHeart6 {
        left: 90%;
    }

    .boxTitle {
        font-size: 70px;
        text-shadow: 0 0 15px white, 0 0 30px rgba(255, 255, 255, 0.8);
        line-height: 1.2;
    }
    
    .partTitle {
        display: block;
        width: 100%;
    }

    .container .btnBox {
        height: 100px;
        width: 90%;
        max-width: 300px;
    }

    .cloudBtn {
        height: 60px;
        width: 60px;
        box-shadow: 45px 0 #fc6885, 90px 0 #fc6885, 135px 0 #fc6885, 180px 0 #fc6885,
            180px 40px #fc6885, 135px 40px #fc6885, 90px 40px #fc6885,
            45px 40px #fc6885, 0 40px #fc6885;
    }

    .cloudBtn::before {
        height: 50px;
        width: 50px;
        box-shadow: 45px 0 white, 90px 0 white, 135px 0 white, 180px 0 white,
            180px 40px white, 135px 40px white, 90px 40px white,
            45px 40px white, 0 40px white;
    }

    .openBtn {
        font-size: 20px;
        padding: 10px;
        line-height: 1.2;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .cardValentine {
        height: 500px;
        width: 90%;
        max-width: 400px;
    }

    .cardValentine.active {
        height: 500px;
        width: 90%;
        max-width: 400px;
    }

    .boxTitleCard {
        height: 200px;
        width: 200px;
    }

    .boxTitleCard::before {
        height: 190px;
        width: 190px;
    }

    .boxTitleCard::after {
        height: 170px;
        width: 170px;
    }

    .des {
        font-size: 16px;
        bottom: 20px;
    }

    .rightContent {
        font-size: 16px;
        padding: 15px 10px;
        padding-bottom: 110px;
    }

    .baoboiImage {
        width: 80px;
        height: 80px;
    }

    .container.active .cloud {
        height: 100px;
        width: 100px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 60px 0px #ffb3c1, 120px -10px #ffb3c1, 180px 0px #ffb3c1,
            -60px 0px #ffb3c1, -120px -10px #ffb3c1, -180px 0px #ffb3c1;
    }

    .container.active .cloud1 {
        height: 100px;
        width: 100px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 60px 0px #ffccd5, 120px -10px #ffccd5, 180px 0px #ffccd5,
            -60px 0px #ffccd5, -120px -10px #ffccd5, -180px 0px #ffccd5;
    }

    .container.active .cloud2 {
        height: 100px;
        width: 100px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 60px 0px white, 120px -5px white, 180px 0px white,
            -60px 0px white, -120px -5px white, -180px 0px white;
    }
}

@media screen and (max-width: 480px) {
    .boxTitle {
        font-size: 55px;
        padding: 0 15px;
        text-align: center;
        text-shadow: 0 0 20px white, 0 0 40px rgba(255, 255, 255, 0.9);
        font-weight: 400;
    }

    .container .btnBox {
        height: 90px;
        width: 85%;
        max-width: 280px;
    }

    .cloudBtn {
        height: 50px;
        width: 50px;
        box-shadow: 40px 0 #fc6885, 80px 0 #fc6885, 120px 0 #fc6885, 160px 0 #fc6885,
            160px 30px #fc6885, 120px 30px #fc6885, 80px 30px #fc6885,
            40px 30px #fc6885, 0 30px #fc6885;
    }

    .cloudBtn::before {
        height: 42px;
        width: 42px;
        box-shadow: 40px 0 white, 80px 0 white, 120px 0 white, 160px 0 white,
            160px 30px white, 120px 30px white, 80px 30px white,
            40px 30px white, 0 30px white;
    }

    .openBtn {
        font-size: 18px;
        padding: 8px;
        white-space: normal;
        word-wrap: break-word;
    }

    .cardValentine {
        height: 450px;
        width: 95%;
    }

    .cardValentine.active {
        height: 450px;
        width: 95%;
    }

    .boxTitleCard {
        height: 180px;
        width: 180px;
    }

    .boxTitleCard::before {
        height: 170px;
        width: 170px;
    }

    .boxTitleCard::after {
        height: 150px;
        width: 150px;
    }

    .des {
        font-size: 14px;
    }

    .rightContent {
        font-size: 14px;
    }

    .baoboiImage {
        width: 70px;
        height: 70px;
    }

    .container.active .cloud {
        height: 80px;
        width: 80px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 50px 0px #ffb3c1, 100px -8px #ffb3c1, 150px 0px #ffb3c1,
            -50px 0px #ffb3c1, -100px -8px #ffb3c1, -150px 0px #ffb3c1;
    }

    .container.active .cloud1 {
        height: 80px;
        width: 80px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 50px 0px #ffccd5, 100px -8px #ffccd5, 150px 0px #ffccd5,
            -50px 0px #ffccd5, -100px -8px #ffccd5, -150px 0px #ffccd5;
    }

    .container.active .cloud2 {
        height: 80px;
        width: 80px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 50px 0px white, 100px -5px white, 150px 0px white,
            -50px 0px white, -100px -5px white, -150px 0px white;
    }
}